<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "#{name}" %>
<% end %>
<div id="user_nav">
	<% if current_user %>
		Logged in as <%= current_user.email %>
		<%= link_to "Log out", log_out_path %>
	<% else %>
		<%= link_to "Sign up", sign_up_path %> or
		<%= link_to "Log in", log_in_path %>
	<% end %>
</div>

<div id="user_nav">
	<% if user_signed_in %>
		Signed in as <%= current_user.email %> Not you?
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> or
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>

<%= yield %>


</body>
</html>
